:root {
    --body-bg: rgb(204, 204, 204);
    --white: #ffffff;
    --darkWhite: #ccc;
    --black: #000000;
    --dark: #615c60;
    --themeColor: #22b8d1;
    --pageShadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

/* Font Include */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

body {
    background-color: var(--body-bg);
}

.page {
    background: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: var(--pageShadow);
}

.page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
    overflow: hidden;
}

/* Top Section */
.top-content {
    padding-bottom: 15px;
}

.logo img {
    height: 60px;
}

.top-left h1 {
    margin: 0;
}

.top-left .graphic-path {
    height: 40px;
    position: relative;
}
.invoice-text{
   
}

.date-field{
    margin-left: 500px;
}
.payment-terms{
    margin-left: 500px;
}
.bill-to{
    position: relative;
    bottom: 180px;
}
.item{
    position: relative;
    bottom: 50px;
}
.notes{
    margin-top: 100px;
    width: 50%;
    
}
.notes-h6{
    position: relative;
    top: 100px;
}
.notes-over{
    overflow: visible;
}

.Description{
    display:inline-flex;
}

.ct{
    /* width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit); */
    /* display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 50px; */
    width: 300px;
}
